[Unit]
Description=Requests renewal of the ticket-granting ticket
Documentation=man:kinit(1)

[Timer]
OnActiveSec=10m
OnUnitActiveSec=10m

[Install]
WantedBy=default.target
