[Unit]
Description=X11 Resource Database
Documentation=man:xrdb(1)
BindsTo=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "if [ -r /etc/X11/Xresources ]; then /usr/bin/xrdb -nocpp -merge /etc/X11/Xresources; fi"
ExecStart=/bin/sh -c "if [ -r %h/.Xresources ]; then /usr/bin/xrdb -merge %h/.Xresources; fi"

[Install]
WantedBy=graphical-session.target
