[Unit]
Description=XFCE notifications service
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/lib64/xfce4/notifyd/xfce4-notifyd

[Install]
WantedBy=graphical-session.target
Alias=x11-notifier.service
