[Unit]
Description=XScreenSaver
Documentation=man:xscreensaver(1)
PartOf=graphical-session.target
Wants=x11-xrdb.service
After=graphical-session-pre.target x11-xrdb.service

[Service]
Type=simple
ExecStart=/usr/bin/xscreensaver -verbose -nosplash
Restart=on-failure

[Install]
WantedBy=graphical-session.target
Alias=x11-screensaver.service
