[Unit]
Description=Bluetooth management applet
Documentation=man:blueman-applet(1)
PartOf=graphical-session.target
After=window-manager.service

[Service]
Type=dbus
BusName=org.blueman.Applet
ExecStart=/usr/bin/blueman-applet

[Install]
WantedBy=graphical-session.target
