[Unit]
Description=Insync
Documentation=man:insync(1)
PartOf=graphical-session.target
After=window-manager.service

[Service]
Type=simple
Environment=LC_TIME=C
WorkingDirectory=/usr/lib/insync
ExecStart=/usr/lib/insync/insync start --no-daemon
ExecStop=/usr/lib/insync/insync quit
Restart=on-failure

[Install]
WantedBy=graphical-session.target
