[Unit]
Description=NetworkManager System Tray
Documentation=man:NM-APPLET(1)
PartOf=graphical-session.target
After=window-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/nm-applet
Restart=on-failure

[Install]
WantedBy=graphical-session.target
