[Unit]
Description=PulseAudio System Tray
Documentation=man:pasystray(1)
PartOf=graphical-session.target
After=window-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/pasystray
Restart=on-failure

[Install]
WantedBy=graphical-session.target
