[Unit]
Description=reStarting XTerm
Documentation=man:xterm(1)
PartOf=graphical-session.target
After=graphical-session-pre.target x11-xrdb.service

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=/usr/bin/xterm -name reXTerm
Restart=always

[Install]
WantedBy=graphical-session.target
