[Unit]
Description=X11 Window System Session

BindsTo=graphical-session.target
Before=graphical-session.target

Requires=graphical-session-pre.target
After=graphical-session-pre.target

Requires=xhost.service xrdb.service xkbmap.service
Requires=window-manager.service
Wants=x11-notifications.service
Wants=x11-screensaver.service
