[Unit]
Description=VNC server for the current X11 session
Documentation=man:X11VNC(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -usepw -shared -forever
Restart=on-failure

[Install]
WantedBy=graphical-session.target
