[Unit]
Description=XFCE notifications service
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/lib64/xfce4/notifyd/xfce4-notifyd

[Install]
Alias=x11-notifications.service
