[Unit]
Description=X11 Resource Database
Documentation=man:xrdb(1)
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -remove
ExecStart=-/usr/bin/xrdb -nocpp -merge /etc/X11/Xresources
ExecStart=-/usr/bin/xrdb -merge %h/.Xresources
ExecStart=-/usr/bin/xrdb -merge %h/.Xresources-%H
