[Unit]
Description=XScreenSaver
Documentation=man:xscreensaver(1)
PartOf=graphical-session.target
After=xrdb.service

[Service]
Type=simple
ExecStart=/usr/bin/xscreensaver -nosplash
Restart=on-failure

[Install]
Alias=x11-screensaver.service
